<ion-view view-title="Data Visualizations">
  <ion-content class="padding center">
    <h3>Word Cloud</h3>
    <div id='word-cloud'>
    </div>

    <div class="row">
      <div class="col center">
        <h2>
          You've logged {{Data.dreamCount}} dreams
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col center">
        <h3>
          Average Dream Mood
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col center">
        <h4>
          {{Data.averageMood}} out of 5
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col center">
        <h3>
          Average Dream Rating
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col center">
        <h4>
          {{Data.averageRating}} out of 5
        </h4>
      </div>
    </div>

    <div id="scatter-load"></div>

    <div class="row" ng-init="chartConfig={}; showAnalysis=false">
      <div class="col center">
        <button ng-hide="showAnalysis" ng-click="chartConfig=Data.getAnalysis()(); showAnalysis=true" type="button" name="button">Get Analysis</button>
        <highchart ng-show="showAnalysis" id="chart1" config="chartConfig"></highchart>
      </div>
    </div>

  </ion-content>
</ion-view>
