<ion-view view-title="New Dream">
  <ion-content class="padding center">
    <h3>TODAY'S DATE GOES HERE</h3>
    <button class='button'>Record New</button>
    <div class='list'>

      <label class='item item-input'>
        <textarea name='dream-input' id='dream-input' placeholder='Describe your dream'></textarea>
      </label>
      <label>Mood</label>
      <div class='item range'>
        <i class='icon ion-sad-outline'></i>
        <input type='range' min='1' max='5' value='3' step='1' name='mood' id='mood'/>
        <i class='icon ion-happy'></i>
      </div>
      <label>Rating</label>
      <div class='item range'>
        <i class='icon ion-thumbsdown'></i>
        <input type='range' min='1' max='5' value='3' step='1' name='rating' id='rating'/>
        <i class='icon ion-thumbsup'></i>
      </div>
      <label>Sleep Duration</label>
      <div class='item range'>
        <h2>0</h2>
        <input type='range' min='0' max='12' value='6' step='1' name='duration' id='duration'/>
        <h2>12</h2>
      </div>
    </div>
    <button class='button button-block'>Submit</button>
  </ion-content>
</ion-view>
