<ion-view view-title="Your Stream">
  <ion-content class="padding">
    <div class="card" ng-repeat="dream in SC.dreams | orderBy:'-dateTime'">
      <div class="item item-text-wrap">
        <h2>
          {{dream.dateTime | date: "EEEE | MMM dd, yyyy"}}
        </h2>
        <h4>
          {{dream.dateTime | date: "h:mma"}}
        </h4>
        <textarea id='dream-stream-text'>{{dream.content}}</textarea>
        <div class="row">
          <div class="col center">
            <h2>
              {{dream.mood}}
            </h2>
            <h5>
              MOOD
            </h5>
          </div>
          <div class="col center">
            <h2>
              {{dream.rating}}
            </h2>
            <h5>
              RATING
            </h5>
          </div>
          <div class="col center">
            <h2>
              {{dream.duration}}
            </h2>
            <h5>
              DURATION
            </h5>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
