<ion-tabs class="tabs-icon-only tabs-color-active-positive">

  <ion-tab title="Your Stream" icon-off="ion-ios-loop" icon-on="ion-ios-loop-strong" href="#/tab/stream">
    <ion-nav-view name="stream"></ion-nav-view>
  </ion-tab>

  <ion-tab title="New Dream" icon-off="ion-ios-settings" icon-on="ion-ios-settings-strong" href="#/tab/new">
    <ion-nav-view name="new"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Dream Data" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/data">
    <ion-nav-view name="data"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon-off="ion-ios-shuffle" icon-on="ion-ios-shuffle-strong" href="#/tab/account">
    <ion-nav-view name="account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
