<ion-tabs class="tabs-icon-only tabs-color-active-positive">

  <ion-tab class="nav-new" icon-off="ion-ios-cloud-download-outline" icon-on="ion-ios-cloud-download" href="#/tab/new">
    <ion-nav-view name="new"></ion-nav-view>
  </ion-tab>

  <ion-tab class="nav-stream" icon-off="ion-ios-cloud-outline" icon-on="ion-ios-cloud" href="#/tab/stream">
    <ion-nav-view name="stream"></ion-nav-view>
  </ion-tab>

  <ion-tab class="nav-data" icon-off="ion-ios-analytics-outline" icon-on="ion-ios-analytics" href="#/tab/data">
    <ion-nav-view name="data"></ion-nav-view>
  </ion-tab>

  <ion-tab class="nav-account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
